<h1>Articulos en stock!</h1>
{{#each artic}}
<div>
    <ul>
        <li>Nombre: {{this.titulo}}</li>
        <li>Descripcion: {{this.descripcion}}</li>
        <li>Precio: {{this.precio}}</li>
        <li>Stock: {{this.stock}}</li>
    </ul>    
</div>
{{/each}}
