
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/socket.js"></script>

    <div>
        <h1>Lista de Artículos</h1>
        <div id="articulos-list">
            {{!-- Aquí se mostrarán los artículos --}}
        </div>
    </div>
